#left-menu li a:hover {
    color: #3b3b6d;
    border-bottom: 3px solid #194d81;
    transition-duration: 0.3s;
}

#right-menu li a:hover {
    color: #3b3b6d;
    border-bottom: 3px solid #194d81;
    transition-duration: 0.3s;
}

#section-2-btn:hover {
    background-color: #ededed;
}

.sc6-img img:hover {
    transform: scale(1.1);
    transition-duration: 0.2s;
}