@media all and (max-width: 1159px) and (min-width: 960px) {
    
    
    /*공통영역*/
    
    #wrap {
        width: 100%;
        overflow: hidden; /*가로 스크롤*/
    }
    
    header, section, footer {
        width: 100%;
        position: relative;
    }
    
    #in-header, .container, #in-footer {
        width: 90%;
        height: 100%;
        margin: 0 auto;
        position: relative;
    }
    
    /*공통영역 end*/
    
    
    #in-header {
        height: 70px;
        padding-top: 20px;
    }
    
    #left-menu, #right-menu {
        display: none;
    }
    
    #logo {
        width: 280px;
        height: 100%;
        float: left;
        position: absolute;
        left: 50%;
        margin-left: -140px;
    }
    
    #logo img {
        width: 90px;
        margin-left: 95px;
        margin-top: 15px;
    }
    
    #ham-btn {
        width: 40px;
        float: right;
        margin-top: 17px;
        cursor: pointer;
    }
    
    /*header end ----------*/
    
    
    #section-1-back {
        position: absolute;
        top: /*-180px*/-12vw;
        z-index: -9;
    }
    
    #section-1-back img {
        height: 73vw;
    }
    
    #banner-wrap {
        width: /*1100px*/ 73.382vw;
        height: /*630px*/42.028vw;
        /*background-color: lightyellow;*/
        padding-top: /*85px*/5.67vw;
        margin-left: /*50px*/3.335vw;
    }
    
    #banner-back-box {
        width: /*1100px*/ 73.382vw;
        height: /*630px*/42.028vw;
        background-color: #b4b4b4;
        /*background-color: #e1e1e1;*/
        transform: rotate(3deg);
        position: absolute;
        z-index: -3;
    }
    
    .banner-img {
        width: /*1100px*/ 73.382vw;
        height: /*630px*/42.028vw;
        margin-top: /*85px*/5.67vw;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
    }
    
    #banner-1 {
        background-image: url(../img/section1/marie-img-2.png);
    }
    
    #banner-2 {
        background-image: url(../img/section1/8seconds-img.png);
        display: none;
    }
    
    #banner-3 {
        background-image: url(../img/section1/kuho-img.png);
        display: none;
    }
    
    #banner-text-wrap {
        width: /*400px*/28vw;
        height: /*180px*/12.008vw;
        /*background-color: lightcoral;*/
        float: right;
        position: absolute;
        bottom: /*20px*/1.334vw;
        right: /*15px*/1vw;
    }
    
    .text-img {
        width: /*430px*/31vw;
        position: absolute;
        top: 0;
        left: 0;
    }
    
    #text-img-2, #text-img-3 {
        display: none;
    }
    
    #section1-gall {
        width: /*120px*/8.005vw;
        height: /*50px*/3.335vw;
        position: absolute;
        bottom: /*-90px*/-6.004vw;
        left: 50%;
        margin-left: /*-60px*/-4.002vw;
        cursor: pointer;
    }
    
    .sc1-gall {
        width: /*13px*/0.867vw;
        height: /*13px*/0.867vw;
        border-radius: 50%;
        background-color: #bdbdbd;
        float: left;
        margin: /*17.5px*/1.167vw /*13px*/0.867vw;
    }
    
    .sc1-gall-color {
        background-color: #4e4e4e;
    } /*addclass*/
    
    /*section-1 end ----------*/
    
    
    #section-2 {
        height: /*1000px*/66.711vw;
        /*background-color: lightgray;*/
        margin-top: /*350px*/23.348vw;
    }
    
    #sc2-top {
        width: 100%;
        height: /*200px*/13.342vw;
        /*background-color: lightblue;*/
    }
    
    #sc2-title {
        width: /*60px*/4.002vw;
        /*background-color: lightcoral;*/
        margin-left: /*670px*/44.696vw;
    }
    
    #sc2-item-title {
        width: /*500px*/33.355vw;
        height: /*50px*/3.335vw;
        margin-left: /*450px*/30.02vw;
        margin-top: /*40px*/2.668vw;
    }
    
    #sc2-item-left {
        width: 50%;
        height: 100%;
        /*background-color: lightgreen;*/
        float: left;
        cursor: pointer;
    }
    
    #sc2-item-right {
        width: 50%;
        height: 100%;
        /*background-color: cornflowerblue;*/
        float: right;
        cursor: pointer;
    }
    
    .sc2-item-text {
        width: 100%;
        height: 50%;
        text-align: center;
        font: 17px/25px '';
    }
    
    .sc2-item-box {
        width: 100%;
        height: 6px;
        background-color: #d7d7d7;
        margin-top: 10px;
    }
    
    .sc2-item-box-color {
        background-color: #547181;
    } /*addclass*/
    
    #sc2-bottom {
        width: 100%;
        height: /*670px*/44.696vw;
       /* background-color: lightgoldenrodyellow;*/
    }
    
    .sc2-img-wrap {
        width: 100%;
        height: /*600px*/40.026vw;
        /*background-color: olivedrab;*/
    }
    
    .img-wrap {
        width: /*309px*/20.613vw;
        height: 100%;
        /*background-color: lightpink;*/
        margin-right: /*32px*/1.8vw;
        float: left;
    }
    
    .img-wrap-last {
        margin-right: 0;
    }
    
    .img-wrap img {
        width: /*309px*/20.613vw;
    }
    
    .section-2-text-wrap {
        width: 100%;
        height: /*60px*/4.002vw;
        margin-top: /*20px*/1.334vw;
    }
    
    .sc2-top-text {
        width: 100%;
        height: 30px;
        /*background-color: lightcyan;*/
        text-align: center;
        font: 800 17px/30px '';
        color: #3c3c3c;
    }
    
    .sc2-bottom-text {
        width: 100%;
        height: 30px;
        /*background-color: lightgoldenrodyellow;*/
        text-align: center;
        line-height: 30px;
        color: #676767;
    }
    
    #sc2-img-wrap-2 {
        position: absolute;
        top: /*200px*/13.342vw;
        display: none;
    } /*second img box*/
    
    #section-2-btn {
        width: 130px;
        height: 28px;
        border: solid 2px #7190bd;
        text-align: center;
        font-size: 14px;
        line-height: 28px;
        color: #434343;
        margin-left: /*625px*/40vw;
        cursor: pointer;
    }
    
    /*section-2 end ----------*/
    
    
    #section-3 {
        height: /*950px*/54vw;
        margin-top: /*100px*/6.671vw;
        margin-bottom: /*100px*/6.671vw;
        /*background-color: lightgoldenrodyellow;*/
    }
    
    #sc3-left {
        width: 50%;
    }
    
    #sc3-right {
        width: 95%;
        height: 50.5vw;
        border: solid 4px #7190bd;
        position: absolute;
        top: 25px;
        left: 2.5%;
    }
    
    #sc3-text-wrap {
        width: 36vw;
        height: /*310px*/20.68vw;
        /*background-color: lightblue;*/
        float: right;
        margin-right: 5vw;
        margin-top: 15vw;
    }
    
    .sc3-text-top {
        width: 100%;
        height: 32px;
        /*background-color: lightpink;*/
        text-align: center;
        font: 900 20px/32px '';
        color: #7e7a4d;
        /*font-family: 'Berlin Sans FB Demi;*/
    }
    
    #sc3-text-center {
        width: 100%;
        height: 80px;
        /*background-color: lightgreen;*/
        text-align: center;
        font: 900 33px/80px '';
        color: #5a5731;
    }
    
    #sc3-text-bottom {
        width: 100%;
        height: 90px;
        /*background-color: lightcyan;*/
        text-align: center;
        font: 600 17px/90px '';
        color: #7e7a4d;
    }
    
    /*section-3 end ----------*/
    
    
    #section-4 {
        height: /*1700px*/113.408vw;
        /*background-color: lightyellow;*/
        margin-top: /*400px*/26.684vw;
    }
    
    #sc4-top-line {
        width: 3px;
        height: /*350px*/23.348vw;
        background-color: #d6d6d6;
        position: absolute;
        top: /*-300px*/-23.348vw;
        left: 50%;
    }
    
    #sc4-img-wrap {
        width: 100%;
        height: /*1500px*/100.066vw;
        /*background-color: lightblue;*/
    }
    
    #sc4-left-wrap {
        width: /*700px*/43vw;
        height: /*1000px*/66.711vw;
        /*background-color: lightpink;*/
        float: left;
        margin-top: /*200px*/13.342vw;
    }
    
    #sc4-left {
        width: /*650px*/43vw;
    }
    
    #sc4-right-wrap-1 {
        width: /*700px*/44vw;
        height: /*800px*/53.368vw;
        /*background-color: lightgray;*/
        float: right;
    }
    
    #sc4-right-1 {
        width: /*500px*/33vw;
        float: right;
    }
    
    #sc4-right-wrap-2 {
        width: /*700px*/44vw;
        height: /*600px*/40.026vw;
        /*background-color: lightgreen;*/
        float: right;
        margin-top: /*70px*/4.669vw;
    }
    
    #sc4-right-2 {
        width: /*655px*/43vw;
        float: right;
    }
    
    #sc4-text-wrap {
        width: /*630px*/42.028vw;
        height: /*80px*/5.336vw;
        /*background-color: cadetblue;*/
        float: left;
        margin-top: /*100px*/6.671vw;
    }
    
    #sc4-text-box {
        width: /*180px*/12.008vw;
        height: /*80px*/5.336vw;
        background-color: #f4ecd3;
        float: left;
    }
    
    #sc4-text {
        width: /*500px*/33.355vw;
        height: /*60px*/4.002vw;
        /*background-color: cornflowerblue;*/
        font: 600 15px//*35px*/2.334vw '';
        color: #7c7c7c;
        position: absolute;
        left: /*50px*/3.335vw;
        margin-top: /*5px*/0.333vw;
    }
    
    .sc4-small-text {
        width: 100px;
        height: 30px;
        /*background-color: lightcyan;*/
        float: left;
        color: #8b8b8b;
        font-size: 19px;
        position: absolute;
    }
    
    #small-text-1 {
        top: /*160px*/10.673vw;
    }
    
    #small-text-2 {
        top: /*-20px*/-1.334vw;
        right: /*475px*/31.687vw;
        transform: rotate(270deg);
    }
    
    #small-text-3 {
        bottom: /*840px*/56.037vw;
        right: 0;
    }
    
    #section-4-mo {
        display: none;
    }
    
    /*section-4 end ----------*/
    
    
    #section-5 {
        width: 100%;
        height: 65vw;
        background-color: #c7bca5;
    }
    
    #section-5-back {
        position: absolute;
        top: 100px;
        right: 0;
    }
    
    #sc5-title-wrap {
        width: 200px;
        height: 70px;
        /*background-color: lightcoral;*/
        margin-left: /*600px*/35vw;
        padding-top: /*120px*/8.005vw;
    }
    
    #sc5-title-top {
        width: 100%;
        height: 30px;
        text-align: center;
        font: 700 20px/30px '';
        color: #fff;
    }
    
    #sc5-title-bottom {
        width: 100%;
        height: 40px;
        text-align: center;
        font: 700 25px/19px '';
        color: #fff;
    }
    
    #sc5-img-wrap {
        width: 100%;
        height: /*600px*/40.026vw;
        margin-top: /*50px*/3.335vw;
    }
    
    #sc5-img-wrap img {
        width: /*414px*/27vw;
        float: left;
        margin-right: /*79px*/3.7vw;
    }
    
    #sc5-img-wrap img:last-child {
        margin-right: 0;
    }
    
    /*section-6 end ----------*/
    
    
    #section-6 {
        /*background-color: lightblue;*/
        margin-top: /*180px*/12.008vw;
    }
    
    #sc6-text {
        width: 200px;
        height: 110px;
        /*background-color: lightcoral;*/
        font: 900 22px/110px '';
        text-align: center;
        color: #4d728b;
        margin-left: /*600px*/37vw;
    }
    
    #sc6-img-wrap {
        width: 100%;
        height: /*500px*/33.355vw;
        /*background-color: lightgoldenrodyellow;*/
    }
    
    .sc6-img {
        width: /*350px*/22vw;
        height: /*447px*/28vw;
        float: left;
        overflow: hidden;
        cursor: pointer;
    }
    
    .sc6-img img {
        width: /*350px*/22vw;
        float: left;
    }
    
    /*section-6 end ----------*/
    
    
    #section-7 {
        margin-top: 16vw;
    }
    
    #section-7-img {
        width: 100%;
        height: 270px;
        background-image: url(../img/section7/yellow-img.png);
        background-repeat: no-repeat;
    }
    
    #section-7-text-wrap {
        width: 500px;
        height: 200px;
        /*background-color: lightblue;*/
        margin-left: /*400px*/25vw;
        padding-top: 50px;
    }
    
    #sc-7-top {
        width: 100%;
        height: 50px;
        font: 900 14px/50px '';
        text-align: center;
        color: #fff;
    }
    
    #sc-7-center {
        width: 100%;
        height: 50px;
        font: 900 35px/50px '';
        text-align: center;
        color: #fff;
    }
    
    #sc-7-bottom {
        width: 100%;
        height: 50px;
        font: 900 20px/80px '';
        text-align: center;
        color: #fff;
    }
    
    /*section-7 end ----------*/
    
    
    footer {
        height: 300px;
        background-color: #818181;
        margin-top: 200px;
    }
    
    #footer-top {
        width: 100%;
        height: 100px;
        /*background-color: lightblue;*/
        border-bottom: 1px solid #b5b5b5;
        padding-top: 50px;
    }
    
    #footer-top img {
        width: 100px;
        float: left;
    }
    
    #footer-top-text {
        width: 400px;
        color: #b5b5b5;
        margin-top: 15px;
        margin-left: 140px;
    }
    
    #footer-bottom {
        width: 100%;
        height: 150px;
        /*background-color: lightpink;*/
    }
    
    #bottom-left {
        width: 700px;
        float: left;
        color: #b5b5b5;
        margin-top: 43.5px;
        /*background-color: lightgoldenrodyellow;*/
    }
    
    .bottom-left-text, .bottom-right-text {
        width: 100%;
        height: 25px;
        font-size: 14px;
    }
    
    #bottom-right {
        width: 100px;
        float: right;
        color: #b5b5b5;
        text-align: right;
        margin-top: 43.5px;
        /*background-color: lightgreen;*/
    }
    
    /*footer end ----------*/
    
    
    #top-btn {
        width: 50px;
        height: 50px;
        border: 1px solid #484848;
        border-radius: 50%;
        position: fixed;
        bottom: 50px;
        right: 50px;
        box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
        text-align: center;
        font: 600 20px/50px '';
        opacity: 0;
        transition-duration: 1s;
        cursor: pointer;
    }
    
    /*top-btn ----------*/
    
    
    #ham-btn-mask {
        width: 100%;
        height: 100vh;
        background-color: rgba(0,0,0,0.5);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
        display: none;
    }
    
    #ham-btn-wrap {
        width: 700px;
        height: 100vh;
        background-color: #fff;
        position: absolute;
        top: 0;
        right: 0;
    }
    
    #ham-header {
        width: 100%;
        height: 50px;
    }
    
    #ham-header img {
        width: 30px;
        float: right;
        margin-right: 60px;
        margin-top: 35px;
        cursor: pointer;
    }
    
    #ham-under-header {
        width: 100%;
        height: 50px;
        background-color: #eff6fc;
        margin-top: 50px;
    }
    
    #ham-under-header li {
        width: 172px;
        height: 100%;
        float: left;
        text-align: center;
        font-size: 14px;
        line-height: 50px;
    }
    
    #ham-under-header li a {
        color: #555555;
    }
    
    #ham-menu-wrap {
        width: 600px;
        height: 490px;
        margin-left: 50px;
        margin-top: 20px;
    }
    
    .ham-menu-con {
        width: 100%;
        height: 76px;
        font: 18px/76px '';
    }
    
    .ham-menu-tx {
        float: left;
        cursor: pointer;
    }
    
    .ham-menu-tx-1 {
        float: right;
        font-size: 28px;
        color: #676767;
        cursor: pointer;
    }
    
    #ham-img {
        width: 700px;
    }
    
    #ham-bottom-wrap {
        width: 600px;
        height: 100px;
        margin-left: 50px;
        margin-top: 20px;
    }
    
    .ham-bottom {
        width: 60px;
        height: 50px;
        font: 13px/50px '';
        color: #585858;
        cursor: pointer;
    }
    
    /*ham-btn end ----------*/
    
    
    
} /*tab-2 end*/




















